<div class="row">
  <% @products.each do |product| %>
    <div class="col-xs-12">
      <div class="thumbnail">
        <img src="<%= product[1] %>" alt="">
        <div class="caption">
          <p><%= product[0] %></p>
          <form action="/cards/<%= @card.id %>" method="post">
            <input type="hidden" name="_method" value="patch" />
            <input type="hidden" name="price" value="<%= product[2] %>" />
            <input type="hidden" name="url" value="<%= product[3] %>" />
            <input type="hidden" name="id" value="<%= @card.id %>" />
            <hr>
            <p>
              <strong>&euro; <%= product[2] %></strong>
              <button type="submit" class="btn btn-primary pull-right" role="button">Buy now</button></p>
          </form>
        </div>
      </div>
    </div>
  <% end %>
</div>
