<div class="todo">
	<div class="text"><div class="title">Dit is Niet Blendle.</div> Het beste van een todolist.</div>
</div>

<% @todos.each do |todo| %>
	<div class="todo">
  		<div class="todotitle">
    		<h3>
    			<a href="/todos/<%= todo.id %>"><%= todo.title %></a><br/>
    			<div class="date">
    				<%= pretty_date(todo.created_at) %> - <a href="/todos/<%= todo.id %>"><%= todo.id %></a>    	
    				<%= delete_todo_button(todo.id) %>
	     			<a href="/todos/<%= todo.id %>/edit">Edit Todo</a>
	     		</div>
    		</h3>        
		</div>
		<div class="todobody">
			<%= todo.body %><br/>
		</div>
  </div>
<% end %>
